In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/apps_reviews.csv")

In [3]:
df.head()

,app_id,review_text,review_score,review_date,helpful_count
0,1,I don't know what happened to this app. It was...,1,2025-04-03,6
1,1,app was good. then the randomly locked my acco...,1,2025-04-13,3
2,1,Terrible user interface ðŸ¤¬ Menus cluttered. App...,1,2025-03-17,48
3,1,I got this app to send money quickly without h...,1,2025-02-01,23
4,1,You're honestly better off using another app o...,1,2024-12-19,22

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466700 entries, 0 to 466699
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   app_id         466700 non-null  int64
 1   review_text    466700 non-null  object
 2   review_score   466700 non-null  int64
 3   review_date    466700 non-null  object
 4   helpful_count  466700 non-null  int64
dtypes: int64(3), object(2)
memory usage: 17.8+ MB

In [5]:
df.isnull().sum()

app_id           0
review_text      0
review_score     0
review_date      0
helpful_count    0
dtype: int64

In [6]:
df.describe(include='all')

               app_id review_text   review_score review_date  helpful_count
count   466700.000000      466700  466700.000000      466700  466700.000000
unique            NaN      458737            NaN        5356            NaN
top               NaN        Good            NaN  2025-04-02            NaN
freq              NaN          70            NaN         760            NaN
mean        83.638290         NaN       2.973788         NaN      13.545132
std         69.396137         NaN       1.508177         NaN     179.613284
min          1.000000         NaN       1.000000         NaN       0.000000
25%         14.000000         NaN       1.000000         NaN       0.000000
50%         58.000000         NaN       3.000000         NaN       0.000000
75%        140.000000         NaN       4.000000         NaN       2.000000
max        217.000000         NaN       5.000000         NaN   25518.000000

In [7]:
df.dropna(subset=['review_text', 'review_score', 'review_date'], inplace=True)
df['review_score'] = pd.to_numeric(df['review_score'], errors='coerce')

In [8]:
df['review_date'] = pd.to_datetime(df['review_date'], errors='coerce')
df = df.dropna(subset=['review_date'])

In [9]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466700 entries, 0 to 466699
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   app_id         466700 non-null  int64
 1   review_text    466700 non-null  object
 2   review_score   466700 non-null  int64
 3   review_date    466700 non-null  datetime64[ns]
 4   helpful_count  466700 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 17.8+ MB
None
              app_id   review_score                 review_date  helpful_count
count  466700.000000  466700.000000                      466700  466700.000000
mean       83.638290       2.973788  2022-03-07 01:52:17.978144      13.545132
min         1.000000       1.000000         2010-04-25 00:00:00       0.000000
25%        14.000000       1.000000         2020-06-11 00:00:00       0.000000
50%        58.000000       3.000000         2022-05-16 00:00:00       0.000000
75%       140.000000       4.000000         2024-06-27 00:00:00       2.000000
max       217.000000       5.000000         2025-04-22 00:00:00   25518.000000
std        69.396137       1.508177                         NaN     179.613284

In [10]:
print(df.shape)

(466700, 5)

In [11]:
print(df.columns)

Index(['app_id', 'review_text', 'review_score', 'review_date',
       'helpful_count'],
      dtype='object')

In [12]:
print(df['review_date'].min(), "â†’", df['review_date'].max())

2010-04-25 00:00:00 â†’ 2025-04-22 00:00:00

In [13]:
df.to_csv("cleaned_apps_reviews.csv", index=False)